.modal-content{
    width: 175% !important ;
}


::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 100000 !important; /* set value you need */
}
h3{
    padding: 0 0 0 10px;
    font-size: 20px;
    font-weight: 500;
}